body {
  font-family: "Helvetica", arial, sans-serif; font-size: 16px;
  margin: 0 auto;
  background-color:white;
  color:black;
  text-align: center;
}

.menu {
  background-color:darkslategrey;
  height:50px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  position: relative;
  top: -17px;
}

.menu > li {
  list-style: none;
  display: inline;
  position: relative;
  top:15px;
}

.menu > li > a {
  text-decoration: none;
  color: white;
}

#museum-boxes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#museum-container {
  height:100px;
  width: 250px;
  border: 1px slategray solid;
  border-radius: 5px;
  padding:5px;
  margin: 10px;
  background-color: whitesmoke;
}

#works-container {
  height:100px;
  width: 250px;
  border: 1px slategray solid;
  padding:5px;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 5px;
}

#works-boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input, select {
  font-size: 100%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

a {
  color:black;
}